<div class="w-screen bg-black flex justify-center">

  <!-- Fading Background -->
  <div
    class="fixed inset-0 bg-cover bg-center opacity-0 fade-in-background"
    style="background-image: url('/backgrounds/mangrove.png');">
  </div>


  <!-- Foreground content -->
  <div class="flex flex-col z-10">

    <!-- First Screen -->
    <div class="h-screen flex flex-col justify-center items-center text-center">
      <!-- Animated Text with Rectangle -->
      <h1 class="mt-auto relative text-white font-bold text-4xl md:text-6xl lg:text-7xl tracking-widest fancy-text">
        <span class="relative">Kevin Trickey</span>
        <div class="absolute left-[-6%] top-[-12%] border-t-4 border-b-4 border-white animated-rectangle"></div>
      </h1>
      <!-- Subtext -->
      <div class="mt-8 flex flex-wrap justify-center gap-6">
        <div class="subtext">Code</div>
        <div class="subtext">Crosswords</div>
        <div class="subtext">Science</div>
        <div class="subtext">Dance</div>
      </div>

      <!-- See More Arrow -->
      <div class="flex items-center text-white text-2xl mt-auto mb-4 cursor-pointer zoomable see-more" (click)="scrollToSecondScreen()">
        <i class="block w-6 h-6 border-l-4 border-b-4 border-white -rotate-45 m-4 transform -translate-y-1/4"></i>
        <span>See more</span>
      </div>

    </div>

    <!-- Second Screen -->
    <div id="second-screen" class="w-screen h-screen bg-olive text-white flex items-center justify-center px-6 md:px-16">
      <!-- Container -->
      <div class="w-full max-w-5xl flex flex-col gap-8 scroll-animate">
        <!-- Profile Section -->
        <div class="flex flex-col items-center md:flex-row gap-8">
          <!-- Profile Picture -->
          <div class="w-32 h-32 md:w-40 md:h-40 rounded-full flex-shrink-0 bg-cover bg-center" style="background-image: url('/images/headshot.png');"></div>
          <!-- Description and Resume -->
          <div class="text-center md:text-left">
            <h1 class="text-2xl font-bold md:text-3xl">Hi: I'm Kevin!</h1>
            <p class="mt-2 text-gray-200 text-sm md:text-base">
              Developer, scientific data guy, creator of crossworthy.net. I'm after creative angles on big problems!
            </p>
            <div class="flex items-center space-x-4 mt-4">
              <a href="/kevin-trickey-resume.pdf" download="Kevin_Trickey_Resume.pdf">
                <button class="px-6 py-2 bg-white text-olive font-semibold rounded hover:bg-gray-300">
                  Resume
                </button>
              </a>
              <a
                href="https://www.linkedin.com/in/kevin-trickey/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-white py-2 hover:underline"
              >
                LinkedIn
              </a>
            </div>
          </div>
        </div>
    
        <!-- 3 highlights -->
        <div>
          Here are some articles featuring my work:
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <!-- Crossworthy -->
          <div class="flex flex-col items-start text-left scroll-animate">
            <div
              class="w-full h-48 bg-[url('/images/crossworthy-article.png')] bg-cover bg-top rounded cursor-pointer zoomable"
              (click)="navigateToCrossworthy()"
            >
            </div>
            <h2 class="mt-4 text-lg font-semibold">
              <a 
                href="https://www.crossworthy.net"
                target="_blank"
                rel="noopener noreferrer"
                class="flex items-center hover:underline cursor-pointer"
              >
                <em>Crossworthy.net</em>
                <i class="fas fa-external-link-alt ml-3 text-sm"></i>
              </a>
            </h2>
            <p class="mt-1 text-sm text-gray-300">
              is my biggest project&mdash;join me and 10,000+ crossword solvers and constructors!
            </p>
          </div>
          <!-- Cultivated Meat -->
          <div class="flex flex-col items-start text-left scroll-animate">
            <div class="w-full h-48 bg-[url('/images/upside-article.png')] bg-cover bg-top rounded cursor-pointer zoomable" (click)="navigateToNPR()"></div>
            <h2 class="mt-4 text-lg font-semibold">Cultivated meat</h2>
            <p class="mt-1 text-sm text-gray-300">
              &mdash;or the future of real, slaughter-free meat. For 4+ years I've helped develop the first of its kind.
            </p>
          </div>
          <!-- Research paper -->
          <div class="flex flex-col items-start text-left scroll-animate">
            <div class="w-full h-48 bg-[url('/images/fracking-article.png')] bg-cover bg-top rounded cursor-pointer zoomable" (click)="navigateToFracking()"></div>
            <h2 class="mt-4 text-lg font-semibold">Public health research</h2>
            <p class="mt-1 text-sm text-gray-300">
              has always been important to me. Read my academic papers analyzing public health data.
            </p>
          </div>
        </div>
      </div>
    </div>




</div>





